<style>
  .image-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
</style>

<main>
  <!-- Filter section -->
  <form ng-submit="search()">
    <span>
      <label>Keyword</label>
      <input type="text" placeholder="Search by keyword..." />
    </span>

    <span>
      <label>Date</label>
      <input type="date" />
    </span>

    <span>
      <label>Category</label>
      <select value="One">
        <option>One</option>
      </select>
    </span>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>

  <!-- Results section -->
  <section class="image-list">
    <section
      class="w-33 mx-10 my-10"
      ng-repeat="image in state.images"
      ng-click="handleImageClick(image)"
      data-tooltip="fdsfkldsj"
    >
      <label>{{image.title}}</label>
      <img class="contained-image" src="{{image.content}}" />
    </section>
  </section>
</main>
