<style>
  .main-container {
    display: flex;
    flex-direction: row;
  }

  .main-container > * {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .column-header {
    /* border: 5px solid black; */
    border-radius: 10px;
    background-color: black;
    color: white;
    padding: 0.3rem;
    text-align: center;
    font-family: var(--main-font);
  }
</style>

<main class="main-container">
  <section class="width-20p">
    <h2 class="column-header">Featured</h2>
    <section
      class="image-container"
      ng-repeat="image in state.featured track by $index"
    >
      <img ng-click="handleImageClick(image)" src="{{image.content}}" />
    </section>
  </section>

  <section class="width-60p">
    <h2 class="column-header bg-grey">{{state.selectedImage.title}}</h2>
    <section class="image-container">
      <img
        src="{{state.selectedImage.content}}"
        ng-click="handleImageClick(state.selectedImage)"
      />
    </section>
  </section>

  <section class="width-20p">
    <h2 class="column-header">What's New</h2>
    <section
      class="image-container"
      ng-repeat="image in state.images track by $index"
    >
      <img ng-click="handleImageClick(image)" src="{{image.content}}" />
    </section>
  </section>
</main>

<!-- TODO: load more buttons -->
