<style>
  .title-input {
    /* width: 50%; */
  }
  .description-input {
    /* width: 50%; */
    height: 10rem;
  }
  .main-container {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
</style>
<main class="mx-11">
  <h1>Admin Page</h1>

  <section class="main-container">
    <section class="width-40p mx-11">
      <form ng-submit="uploadImage()" enctype="multipart/form-data">
        <!-- TODO: make required -->
        <section class="form-group">
          <label>Title</label>
          <input
            type="text"
            class="form-control title-input"
            ng-model="state.title"
          />
        </section>

        <section class="form-group">
          <label>Description</label>
          <input
            type="textarea"
            class="form-control description-input"
            ng-model="state.descr"
          />
        </section>

        <section style="display: flex; flex-direction: row">
          <section class="form-group mr-22">
            <label>Category</label>
            <section>
              <select>
                <option>General</option>
              </select>
            </section>
          </section>

          <section class="form-group">
            <label>Featured?</label>
            <section>
              <select ng-model="state.isFeatured">
                <option ng-value="true">Yes</option>
                <option ng-value="false">No</option>
              </select>
            </section>
          </section>
        </section>

        <section class="form-group">
          <label>Upload Image</label>
          <input type="file" id="imageInput" name="file" accept="image/*" />
        </section>

        <button type="submit" class="btn btn-success">Upload</button>
      </form>
    </section>

    <section class="width-55p mx-11">
      <img
        class="image-container"
        ng-if="state.imagePreview"
        src="{{state.imagePreview}}"
      />
    </section>
  </section>
</main>
