<style>
  .main-container {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1rem;
  }
</style>

<main class="main-container">
  <h1 class="align-self-c mb-0" ng-class="{'width-80p': !state.editMode}">
    <!-- Image title -->
    <span ng-if="!state.editMode" class="image-title large-font"
      >{{state.image.title}}<span ng-if="state.image.isFeatured"
        >&nbsp;*</span
      ></span
    >
    <!-- Editable Image title and isFeatured -->
    <span ng-if="state.editMode">
      <input type="text" class="text-center" ng-model="state.title" />
    </span>
  </h1>

  <img
    class="contained-image width-90p align-self-c"
    src="{{state.image.content}}" />
  <section class="mx-5p">
    <div ng-if="state.editMode">
      <label class="main-font text-medium text-bold">Featured?</label>
      <input type="checkbox" ng-model="state.isFeatured" />
    </div>
    <!-- Category -->
    <div>
      <label class="main-font text-medium">Category:</label>

      <span ng-if="!state.editMode" class="main-font text-medium">
        {{state.image.category}}</span
      >
      <!-- <span
        ng-if="state.editMode"
        ng-include="'./client/templates/partials/category-select.html'"
      ></span> -->
      <span ng-if="state.editMode">
        <select ng-model="state.category">
          <option
            ng-repeat="category in CONST.CATEGORY_LIST"
            ng-value="category">
            {{category}}
          </option>
        </select>
      </span>
    </div>
  </section>
  <section class="mx-5p">
    <h3 class="mt-0 main-font text-medium text-bold">Description</h3>
    <p ng-if="!state.editMode" class="main-font text-medium">
      {{state.image.descr}}
    </p>
    <textarea
      class="width-80p"
      ng-if="state.editMode"
      ng-model="state.descr"></textarea>
  </section>

  <!-- Admin buttons -->
  <section class="flex flex-row gap1 mx-5p" ng-if="state.isAdmin">
    <button class="btn btn-danger" ng-click="handleDeleteClick()">
      Delete
    </button>

    <button
      class="btn btn-primary"
      ng-class="{'btn-warning': state.editMode}"
      ng-click="handleEditClick()">
      {{state.editMode ? 'Cancel' : 'Edit'}}
    </button>
    <button
      class="btn btn-success"
      ng-if="state.editMode"
      ng-click="handleSaveClick()">
      Save
    </button>
  </section>
</main>
